body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.clogo{
  height: 32px;
  width: 32px;
}
.sb{
  padding-left: 25px;
}


.nav-pills{
  margin-bottom: auto;
}
