body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}
.container-fluid{
  padding: 0;
}

.clogo{
  height: 80px;
  width: 80px;
  align-content: center;
  margin: auto;
}
.sb{
  padding-left: 25px;
}

.nav-link{
  color: white;
}

.nav-pills{
  margin-bottom: auto;
}

.greet{
  color: white;
  padding: 2px;
  align-content: center;
  margin: auto;
}

.content{
  padding: 50px 0 0 50px;
}
